---
title:  Analytics API
parent: Home
description:  'The <span translate="No"> Analytics API</span>ビデオクラウドアカウントの分析データをプログラムで取得できます。また、Video Cloud Studio の分析モジュールで組み込みの分析レポートを表示することもできます。プログラムでデータにアクセスすると、柔軟性が高まります。'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <table width="100%" border="0">
    <tbody>
      <tr>
        <td width="30%">
        <div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554433001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
        <td width="70%">
        <h3 id="Typical_uses">一般的な用途</h3>
  
        <ul>
          <li>カスタムチャートと表示の作成</li>
          <li>複数のAPIを一緒に使用する-たとえば、<span translate="No"> CMS API</span>前週の視聴回数が最も多い動画の場合</li>
          <li>動画分析データを他のサイト分析データと組み合わせる</li>
        </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>