---
title: Playback API
parent: Home
description:   '<p>Playback API は、Video Cloud からビデオとプレイリストのデータを取得するために使用されます。通常、ウェブページまたはモバイルアプリでプレーヤーにビデオデータを取得するために使用されます。&nbsp; Playback API は、Web ページやモバイルアプリから動画や再生リストのデータを取得するときのクライアント側での使用を目的とした、低レイテンシー API です。ですない Video CloudをCMSまたは他のシステムと統合する際に使用する一般的なメディア管理API-そのためには、<a href="/cms/index.html"> CMS API</a>。</p>

<p>Playback API の認証にはポリシーキーが必要です。ポリシーキーは、<a href="/policy/index.html">Policy API </a>を使用して<a href="/policy/getting-started/policy-keys.html">、またはアカウントのプレーヤーから取得できます</a>。</p>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6004281287001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>