---
title: Policy API
parent: Home
description:  'The Policy API is used to create or get policy keys that can be used to access the <a href="/playback/index.html">Playback API</a>。'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary style="display: block;">{{ page.description }}</summary>
  <div style="width: 50%;">
      <div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5853357211001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>