---
title: Playback Restrictions
parent: Home
description:  "Brightcove's Playback Restrictions provide a scalable and expressive way to manage video playback."
layout: staging 
---

<style>
  .card-icon i { color: rgb(9, 7, 140); } .card-wrapper { justify-content: start; }

</style>

<h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>

  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
    <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
      <div class="card-content">
        <h2>{{ subsection.name }}</h2>
        <ul>
          {% for doc in subsection.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %} {% endif %} {% endfor %}

    <!-- remove sections below when this goes live -->
    <!-- <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content">
        <h2>Getting Started</h2>
        <ul>
          <li><a href="/playback-restrictions/getting-started/overview-playback-restrictions.html">Overview: Playback Restrictions</a></li>
          <li><a href="/playback-restrictions/getting-started/implementing-playback-rights.html">Implementing Playback Rights</a></li>
        </ul>
        <h3>Video Cloud Studio</h3>
        <ul>
          <li><a href="https://studio.support.brightcove.com/admin/managing-playback-rights.html">Managing Playback Rights</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/guides/index.html'">
      <div class="card-content">
        <h2>Guides</h2>
        <ul>
          <li><a href="https://general.support.brightcove.com/developer/create-json-web-token.html">Creating a JSON Web Token (JWT)</a></li>
          <li><a href="/playback-restrictions/guides/authentication-apis.html">Using Authentication APIs</a></li>
          <li>&nbsp;</li>
          <li><a href="/playback-restrictions/guides/stream-concurrency.html">Limiting Concurrent Streams per Viewer</a></li>
          <li><a href="/playback-restrictions/guides/device-limits.html">Implementing Device Limits</a></li>
          <li>&nbsp;</li>
          <li><a href="https://player.support.brightcove.com/playback/playback-restrictions-with-bcp.html">Playback Restrictions with Brightcove Player</a></li>
          <li><a href="https://sdks.support.brightcove.com/features/playback-restrictions-with-sdks.html">Playback Restrictions with the Native SDKs</a></li>
          <li><a href="https://live.support.brightcove.com/live-api/guides/live-playback-restrictions.html">Playback Restrictions with Live Streams</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content">
        <h2>References</h2>
        <h3>Authentication</h3>
        <ul>
          <li><a href="/playback-restrictions/references/key-api/reference.html">Key API Reference</a></li>
          <li><a href="/playback-restrictions/references/blacklist-api/reference.html">Blacklist API Reference</a></li>
          <li><a href="/playback-restrictions/references/audit-api/reference.html">Audit API Reference</a></li>
        </ul>
        <h3>Playback Rights</h3>
        <ul>
          <li><a href="/playback-restrictions/references/playback-rights/reference.html">Playback Rights API Reference</a></li>
          <li><a href="/cms/references/reference.html">CMS API Reference</a></li>
          <li><a href="/playback-restrictions/references/playback-rights-errors.html">Playback Rights Error Reference</a></li>
          <li><a href="/playback-restrictions/references/devices-api/reference.html">Devices API Reference</a></li>
        </ul>
      </div>
    </section> -->
    <!-- end removal -->

  </section>
</article>