---
title: Cross-Device Resume（XDR）API
parent: Home
description:  "Brightcove's cross-device resume (XDR) feature lets you start watching video on one device, like mobile, and switch to another device, like your home TV. When you switch, you'll continue watching where you left off. This provides a seamless viewing experience for a piece of content."
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary style="display: block;">{{ page.description }}</summary>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}

        <!-- remove sections below when this goes live -->
        <section class="bcls-card-small">
          <div class="card-content">
            <h2>新しいVideo Cloud Studioの基礎</h2>
            <ul>
             <li><a href="/xdr/getting-started/xdr-overview.html">概要:クロスデバイス再開</a></li>
             <li><a href="/xdr/getting-started/get-playback-position.html">XDR API からの再生位置の取得</a></li>
            </ul>
          </div>
        </section>
        <section class="bcls-card-small">
          <div class="card-content">
            <h2>ガイド</h2>
            <ul>
             <li><a href="https://player.support.brightcove.com/playback/xdr-with-bcplayer.html">Brightcoveプレーヤーでのクロスデバイス再開</a></li>
             <li><a href="https://sdks.support.brightcove.com/features/cross-device-resume-sdks.html">ネイティブ SDK を使用したクロスデバイス再開</a></li>
            </ul>
          </div>
        </section>
        <section class="bcls-card-small">
          <div class="card-content">
            <h2>参考文献</h2>
            <ul>
             <li><a href="/xdr/references/reference.html">XDR API リファレンス</a></li>
            </ul>
          </div>
        </section>
        
        <!-- end removal -->
    
  </section>
</article>