---
title: CMS API
parent: Home
description:  'The <span translate="No"> CMS API</span>データへのキャッシュされていない読み取りアクセスを提供します。を使用して動画や再生リストに変更を加えるため、これは時間に敏感な公開ワークフローにとって重要です。<span translate="No"> CMS API</span>データをすばやく読み取って、それが正しいことを確認します。'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>