---
title: Delivery Rules API
parent: Delivery Rules API
description:  'This section provides information about using the Delivery Rules API to fetch Delivery Rules and manage Conditions and Actions.'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>