---
title: OAuth API
parent: Home
description:   '<p>Brightcove<a href="http://oauth.net/2/"> OAuth2 </a>&nbsp;の実装では、さまざまな Brightcove API のアクセストークンを取得できます。</p>
<p>Brightcoveの実装は、次の 2 つの部分で構成されています。</p>
<ul>
  <li>OAuth API-利用可能なすべての OAuth 機能へのアクセスを提供します。</li>
  <li>OAuth 認証情報 UI-Studio の [アカウント設定] インターフェイスからアクセスできる UI では、Brightcove API を使用するアプリケーションを簡単に登録し、クライアント ID とクライアントシークレットを生成できます。OAuth UI の使用方法については、「<a href="/general/managing-api-authentication-credentials.html"> API 認証資格情報の管理</a>」を参照してください。</li>
</ul>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>