---
title: 再生権
parent: Home
description:  "Brightcove's Playback Rights Management Service provides a scalable and expressive way to manage video playback."
layout: staging 
---

<style>
  .card-icon i { color: rgb(9, 7, 140); } .card-wrapper { justify-content: start; }

</style>

<h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>

  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
    <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
      <div class="card-content">
        <h2>{{ subsection.name }}</h2>
        <ul>
          {% for doc in subsection.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %} {% endif %} {% endfor %}

    <!-- remove sections below when this goes live -->
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content">
        <h2>新しいVideo Cloud Studioの基礎</h2>
        <ul>
          <li><a href="/playback-rights/getting-started/overview-epa.html">概要:プレイバック権限サービス</a></li>
          <li><a href="/playback-rights/getting-started/implementing-epa.html">再生認証サービスで DRM を実装する</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/guides/index.html'">
      <div class="card-content">
        <h2>ガイド</h2>
        <ul>
          <li><a href="/playback-rights/guides/device-limits.html">デバイス制限の実装</a></li>
          <li><a href="/playback-rights/guides/using-epa-with-bcp.html">Brightcoveプレーヤーでの再生権限の使用</a></li>
          <li><a href="/playback-rights/guides/using-epa-with-sdks.html">ネイティブ SDK での再生権限の使用</a></li>
        </ul>
      </div>
    </section>
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content">
        <h2>参考文献</h2>
        <ul>
          <li><a href="/playback-rights/references/epa-errors.html">再生権限エラーリファレンス</a></li>
          <li><a href="/playback-rights/references/reference.html">Audit API リファレンス</a></li>
          <li><a href="/playback-rights/references/reference.html">Playback Rights API リファレンス</a></li>
          <li><a href="/playback-rights/references/audit-api/reference.html">Audit API リファレンス</a></li>
          <li><a href="/playback-rights/references/blacklist-api/reference.html">Blacklist API リファレンス</a></li>
          <li><a href="/playback-rights/references/devices-api/reference.html">Devices API リファレンス</a></li>
          <li><a href="/playback-rights/references/key-api/reference.html">Key APIリファレンス</a></li>
        </ul>
      </div>
    </section>
    <!-- end removal -->

  </section>
</article>