---
title:  '入門' 親：<span translate="No">Dynamic Ingest API</span>レガシーの
description: このセクションでは、Dynamic IngestAPIの使用を開始するのに役立つトピックを提供します。レイアウト：ステージング--- <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">のトピック{{ page.title }}</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.parent %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>